# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Dependencies
node_modules
.next
.env
.env.local
.env.production
.env.development
build.log
build2.log
*.log
.DS_Store
public/image/portfolio/*.backup
